<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Wording is a project by PhiliPdB
  ~
  ~ Copyright (c) 2015.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.woording.android" >

    <!-- To communicate with our api server -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nl.philipdb.woording.MainActivity" />
        </activity>
        <activity
            android:name=".ListViewActivity"
            android:label="@string/title_activity_list_view"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.woording.android.MainActivity" />
        </activity>
        <activity
            android:name=".PracticeActivity"
            android:label="@string/title_activity_practice"
            android:parentActivityName=".ListViewActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateVisible">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.woording.android.ListViewActivity" />
        </activity>
    </application>

</manifest>
